<svg class="geo-field" viewBox="0 0 200 420" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <path class="geo-dome" d="M20,140 A80,80 0 0 1 180,140 Z"/>
  <rect class="geo-block" x="20" y="140" width="160" height="140"/>
  <polygon class="geo-wedge" points="20,420 180,420 100,280"/>
</svg>
